<!DOCTYPE html>
<html>
<head>
	<title>Formulaire d'enregistrement</title>
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/styple.css') }}" />
    <link rel="stylesheet" href="{{ asset('fonts/glyphicons-halflings-regular.eot') }}" />
</head>
<body>
<div class="container">
	<h2>Ajouter un apprenant</h2>
	<div class="row">
		<div class="span8">
			<form class="form-group" method="post">
			{{ form(form) }}
			</form>
		</div>
	</div>
</div>

</body>
</html>